body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("CompulsiveGambling_share.jpg"); /* nombre de tu imagen */
    background-size: cover; /* cubre toda la pantalla */
    background-position: center; /* centrada */
    background-repeat: no-repeat; /* que no se repita */
    height: 100vh; /* ocupa toda la altura de la ventana */
    margin: 0;
    color: white; /* para que el texto sea legible sobre el fondo */
    text-shadow: 1px 1px 3px rgb(212, 6, 6); /* sombra al texto para mejor visibilidad */
}

h1 {
    color: #d2e70e;
    font-size: 105px;
}

p {
    color: #ffffff;
    font-size: 35px;
}


#hint {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}


input {
    width: 20dvw;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px; /* bordes redondeados */
    border: 2px solid red; /* borde rojo */
    outline: none;
    text-align: center;
}

/* Placeholder rojo */
input::placeholder {
    color: red;
    opacity: 0.8;
}

/* Botón verde */
button {
    width: 20dvw;
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px; /* bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover del botón */
button:hover {
    background-color: darkgreen;
}